*.log
.DS_Store
Thumbs.db

.idea/

.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

obj/
bin/

*.nupkg
*.nuget.props
*.nuget.targets
packages/

secrets.json
appsettings.Development.json

*.DotSettings.user
*.resharper.user
*.pidb
*.rsuo
*.[Cc]ache